h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: white;
  padding: 10px;
}

.primary-div {
  text-align: center;
}

.display-div {
  text-align: center;
  background-color: darkgreen;
  width: 50%;
  margin: auto;
}
